.address-card {
  border: .5em solid grey;
  padding: 1em;
}
.name {
  font-family: "Verdana", sans-serif;
  font-size: 1em;
}
.title {
  font-style: italic;
}
.address {
  font-size: 1em;
}
.phone {
  border-left: .2em solid grey ;
  padding-left: 1em;
}